<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="keywords" />
    
        
        <link href="static/assets/img/favicon.ico" rel="icon" />
        <link
          href="static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon"
        />
    
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
        />
    
      
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <link href="static\assets\css\style.css" rel="stylesheet" />
        <link href="static\assets\css\slider.css" rel="stylesheet" />
        <link
          href="static\assets\css\bootstrap-icons\bootstrap-icons.css"
          rel="stylesheet"
        />
    
        <script
          src="https://kit.fontawesome.com/3d4f965968.js"
          crossorigin="anonymous"
        ></script>
    
        <link href="static\assets\css\login.scss" rel="stylesheet" />
        <link href="static\assets\css\loginhome.css" rel="stylesheet" />
        <script src="static\assets\js\login.js"></script>
    </head>
    <body>
        <main>
          
            <section class="hero">
              <h1 class="hero__title">Personal expense tracker</h1><h2> Expense Book</h2>
              <p class="hero__desc">App to keep track of your personal expenses</p>
            </section>
           
            <section class="sign-up">
                <div class="card" style="
                align-items: center;">
                <div class="card-body">
                  <h2>Expense book</h2>
                    <img src="static\assets\img\expense.png" alt="expensetracker" style="
                    align-content: center;
                    width: 200;
                    height: 200;">
                <p>
                    Login/sign up here 
                </p>
            
              <a href="login"><button class="btn btn-primary" type="button" >Login</button></a>
              <a href="register"><button class="btn btn-primary" type="button">Signup</button></a>
              
              </div>
            </div>
            </section>
            <script>
              window.watsonAssistantChatOptions = {
                integrationID: "e2a8d811-7216-467e-8773-5cbfec393af7", // The ID of this integration.
                region: "eu-gb", // The region your integration is hosted in.
                serviceInstanceID: "eeb0f9b2-ba26-4bce-ad4d-08b36df6bcf6", // The ID of your service instance.
                onLoad: function(instance) { instance.render(); }
              };
              setTimeout(function(){
                const t=document.createElement('script');
                t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
                document.head.appendChild(t);
              });
            </script>
          </main>
          
          
    </body>
</html>

