{% extends 'head.html' %}
{% block body %}



   <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index" class="logo d-flex align-items-center w-auto">
              
                <span class="d-none d-lg-block">Personal expense tracker</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login/signup</h5>
                </div>
                <section class="container">
                  <div class="row">
                    <div class=" card  align-items-center">
                          <div class="card">
                           <div class="card-body">
                             <h5 class="card-title">Welcome to personal expense tracker </h5>
                             <a href="login"><button class="btn btn-primary" type="button" >Login</button></a>
                            <a href="register"><button class="btn btn-primary" type="button">Signup</button></a>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
               

              </div>
            </div>

            

          </div>
        </div>
      </div>

    </section>

  </div>
{% endblock %}
   

 